doctype html
html
    head
        title Cristal Code
        include ./assets/modules/general/head
        
    body
        header(class="header")
            include ./assets/modules/header/header
