figure(class="header__logo")
    img(src="./images/logos/cristal-code.png" alt="Cristal Code" class="header__image")
    figcaption(class="header__title")
        h1(class="header__text") Cristal Code
        
        
div(class="header__menu" id="nav-icon1")
    span(class="header__bar")
    span(class="header__bar")
    span(class="header__bar")
    span(class="header__bar")
